.header{
    display: flex;
    justify-content: space-between;
    position: static;
    width: 100%;
    color: white;
    background:linear-gradient(to right, #4fa3e3, rgb(84, 84, 84));
    box-shadow: 5px 0px 20px 10px rgba(0,0,0,0.5);
    position: absolute;
    z-index: 1;
}

.header-left{
    display: flex;
    align-items: center;
}
.header-right{ 
    display: flex;
    align-items: center;
}

.header-item{
    margin: 10px;

}

#header-signin-btn{
    display: none;
    margin-left: 5px;
}

.header-adventures{
    padding: 3px;
    display: flex;
    align-items: center;
}

.header-signin{
    display: flex;
    padding: 3px;
}

.header-menu-icon{
    padding: 3px
}

.header-logo-icon{
    padding: 3px
}

@media only screen and (min-width: 780px){
    #header-signin-btn{
        display: block;
    }

    .header-signin{
        border: 1px solid white;
    }
}